html,
body{
    padding:0;
    margin:0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    --form-height: 6rem;
    --form-content-size: 1rem;
}

body,
canvas{
    background-color: black;
}

canvas{
    width: 100%;
    object-fit:contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

img{
    display:none;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: var(--form-content-size);
    height: var(--form-content-size);

}

form * {
    font-size: var(--form-content-size);
}

input[type="checkbox"] {
    width: var(--form-content-size);
    height: var(--form-content-size);
}

main {
    display: flex;
    height: calc(100% - var(--form-height));
}

label {
    color: white;
}